{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block main %}
    <p>{{ ('label.info_config'|trans({}, 'config')) }}</p>

    {{ include('@c975LConfig/management/_alerts.html.twig', {
        alerts: alerts|default([]),
        title: alertsTitle|default(''),
    }) }}

    {{ parent() }}
{% endblock main %}
